@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.heart {
  animation: float 3s ease-in-out /* infinite */;
}@keyframes float {
0% { transform: translateY(0); }
50% { transform: translateY(-20px); }
100% { transform: translateY(0); }
}


.gif{
  background-image: url(https://tenor.com/en-GB/view/cat-cute-gif-10555336176164685411);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-size: 150px 250px;
  background-repeat: repeat;
}